<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
    <default>
        <worldline_connection>
            <connection>
                <environment_mode>0</environment_mode>
                <production_api_url>https://payment.direct.worldline-solutions.com</production_api_url>
                <testing_api_url>https://payment.preprod.direct.worldline-solutions.com</testing_api_url>
            </connection>
        </worldline_connection>
        <worldline_payment>
            <general_settings>
                <enable_3d>1</enable_3d>
            </general_settings>
        </worldline_payment>
        <worldline_order_creator>
            <general>
                <fallback_timeout>10</fallback_timeout>
                <fallback_timeout_limit>180</fallback_timeout_limit>
                <cron_expr>* * * * *</cron_expr>
                <sending_payment_refused_emails>0</sending_payment_refused_emails>
                <refused_payment_sender>general</refused_payment_sender>
                <refused_payment_template>worldline_order_creator_refused_notification_refused_payment_template</refused_payment_template>
            </general>
            <refund_refused_notification>
                <active>1</active>
                <recipient>general</recipient>
                <sender>general</sender>
                <email_template>worldline_order_creator_refund_refused_notification_email_template</email_template>
            </refund_refused_notification>
            <notification>
                <active>1</active>
                <recipient>general</recipient>
                <sender>general</sender>
                <email_template>worldline_order_creator_notification_email_template</email_template>
            </notification>
            <auto_refund>
                <active>1</active>
                <recipient>general</recipient>
                <sender>general</sender>
                <email_template>worldline_order_creator_auto_refund_email_template</email_template>
                <active_to_customer>0</active_to_customer>
                <to_customer_sender>general</to_customer_sender>
                <to_customer_template>worldline_order_creator_auto_refund_to_customer_template</to_customer_template>
            </auto_refund>
        </worldline_order_creator>
        <worldline_debug>
            <general>
                <logging_lifetime>14</logging_lifetime>
            </general>
        </worldline_debug>
    </default>
</config>
