<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <!-- Admin notification -->
    <type name="Magento\Framework\Notification\MessageList">
        <arguments>
            <argument name="messages" xsi:type="array">
                <item name="worldline_request_error_notification" xsi:type="string">Worldline\PaymentCore\Logger\Notification\AdminNotification</item>
                <item name="worldline_moved_three_d_settings_notification" xsi:type="string">Worldline\PaymentCore\Model\ThreeDSecure\Notification\AdminNotification</item>
            </argument>
        </arguments>
    </type>
    <!-- END Admin notification -->

    <type name="Worldline\PaymentCore\Block\Info">
        <arguments>
            <argument name="infoFormatter" xsi:type="object">Worldline\PaymentCore\Block\Adminhtml\InfoFormatter</argument>
        </arguments>
    </type>

    <type name="Magento\Sales\Model\Order">
        <plugin name="Worldline_PaymentCore::check_refund_ability_for_order"
                type="Worldline\PaymentCore\Plugin\Magento\Sales\Model\Order\CheckRefundAbility"/>
    </type>

    <type name="Magento\Sales\Block\Adminhtml\Order\Creditmemo\Create\Form">
        <plugin name="Worldline_PaymentCore::replace_save_url"
                type="\Worldline\PaymentCore\Plugin\Magento\Sales\Block\Adminhtml\Order\Creditmemo\Create\Form\ReplaceSaveUrl"/>
    </type>

    <type name="Magento\Sales\Block\Adminhtml\Order\Creditmemo\View">
        <plugin name="Worldline_PaymentCore::update_status_button"
                type="Worldline\PaymentCore\Plugin\Magento\Sales\Block\Adminhtml\Order\Creditmemo\View\UpdateStatusButton"/>
    </type>
</config>
