<?xml version="1.0"?>

<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:Event/etc/events.xsd">
    <!-- save surcharging data when submit credit memo -->
    <event name="sales_order_creditmemo_save_after">
        <observer name="Worldline_PaymentCore::creditmemo_save" instance="Worldline\PaymentCore\Observer\Sales\Model\Order\Creditmemo\IsRefundedSurcharging" />
    </event>
</config>
